#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* * Visually matching your physical stagger. 
             * Trackpad keys temporarily mapped to 1, 2, 3 to test hardware.
             */
            bindings = <
                        &kp Y    &kp U    &kp I     &kp O
                        &kp H    &kp J    &kp K     &kp L     &kp DEL     &kp BSPC
                        &kp N    &kp M    &kp COMMA &kp DOT   &kp P       &kp RET
                        &kp N1   &kp N2   &kp N3              &kp SEMI    &kp RSHFT
                                                    &kp SPACE
            >;
        };
    };
};
