#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                        &kp Y    &kp U    &kp I     &kp O
                        &kp H    &kp J    &kp K     &kp L     &kp DEL     &kp BSPC
                        &kp N    &kp M    &kp COMMA &kp DOT   &kp P       &kp RSHFT
                        &kp SPACE &kp LEFT &kp UP   &kp RIGHT &kp SEMI    &kp RET
                                                    &kp DOWN
            >;
        };
    };
};
