#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
        keymap {
                    compatible = "zmk,keymap";

                            default_layer {
                                            bindings = <
                                                        /* ==============================
                                                                     * LEFT HALF (25 Keys) 
                                                                                  * ============================== */
                                                                                                  &kp ESC    &kp LALT   &kp W      &kp E      &kp R      &kp T
                                                                                                                  &kp TAB    &kp Q      &kp S      &kp D      &kp F      &kp G
                                                                                                                                  &kp LSHFT  &kp A      &kp X      &kp C      &kp V      &kp B
                                                                                                                                                  &kp LCTRL  &kp Z      &kp LBKT   &kp LBRC   &kp RBKT   &kp SPACE
                                                                                                                                                                                                   &kp RBRC

                                                                                                                                                                                                               /* ==============================
                                                                                                                                                                                                                            * RIGHT HALF (36 Keys) 
                                                                                                                                                                                                                                         * ============================== */
                                                                                                                                                                                                                                                         &kp Y      &kp U      &kp I      &kp O      &kp DEL    &kp BSPC
                                                                                                                                                                                                                                                                         &kp H      &kp J      &kp K      &kp L      &kp P      &kp RSHFT
                                                                                                                                                                                                                                                                                         &kp N      &kp M      &kp COMMA  &kp DOT    &kp SEMI   &kp RET
                                                                                                                                                                                                                                                                                                         &kp SPACE  &kp LEFT   &kp UP     &kp RIGHT  &kp FSLH   &kp LCTRL
                                                                                                                                                                                                                                                                                                                         &none      &none      &none      &kp DOWN   &none      &none
                                                                                                                                                                                                                                                                                                                                         &mkp MB2   &mkp MB3   &mkp MB1   &none      &none      &none
                                                                                                                                                                                                                                                                                                                                                     >;

                                                                                                                                                                                                                                                                                                                                                                 /* Left Rotary Encoder */
                                                                                                                                                                                                                                                                                                                                                                             sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
                            };
        };
};

                            }
        }
}