#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* Row 0 */
                &kp ESC    &kp LALT   &kp W       &kp E       &kp R       &kp T

                /* Row 1 */
                &kp TAB    &kp Q      &kp S       &kp D       &kp F       &kp G

                /* Row 2 */
                &kp LSHFT  &kp A      &kp X       &kp C       &kp V       &kp B

                /* Row 3 */
                &kp LCTRL  &kp Z      &kp LBKT    &kp LBRC    &kp RBKT    &kp SPACE

                /* Row 4 (Col 3 only) */
                &kp RBRC
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
