#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC    &kp LALT   &kp W       &kp E       &kp R       &kp T
                &kp TAB    &kp Q      &kp S       &kp D       &kp F       &kp G
                &kp LSHFT  &kp A      &kp X       &kp C       &kp V       &kp B
                &kp LCTRL  &kp Z      &kp LBKT    &kp LBRC    &kp RBKT    &kp SPACE
                &kp RBRC
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
